 * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html,
    body {
        background-color: black;
        height: 100%;
        width: 100%;
        overflow-y: hidden;
    }

    #main {
        height: 100%;
        width: 100%;
        background-image: url('burger3.png');
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 60px;

    }

    header {
        display: flex;
        padding-left: 100px;
    }

    header a {
        text-decoration: none;
        margin-top: 50px;
        color: white;
        margin-right: 60px;
        font-family: acumin-pro, Acumin Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
        opacity: 0.6;
        transition: all 0.8s ease;
    }

    header a:hover {
        opacity: 1;
        transform: scale(1.05);
    }

    header img {
        margin-left: 210px;
        margin-right: 240px;
    }

    main {
        color: white;
        text-align: center;

    }

    main h1 {
        margin-bottom: 10px;
        font-family: acumin-pro, Acumin Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
    }

    main p {
        opacity: 0.6;
        margin-bottom: 45px;
        font-family: acumin-pro, Acumin Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
    }

    #items {
        margin-top: 40px;
        color: white;
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        width: fit-content;

    }

    #items a {
        opacity: 0.5;
        transition: all 0.8s ease;
    }

    #items a:hover {
        opacity: 1;
        transform: scale(1.05);
    }


    #orderbtn {
        color: white;
        text-decoration: none;
        margin-left: 42%;
        display: inline-block;
        height: 60px;
        width: 200px;
        background-color: #ff4424;
        text-align: center;
        align-content: center;
        border-radius: 40px;
        font-family: acumin-pro, Acumin Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-weight: 600;
        letter-spacing: 1.5px;
        transition: all 0.8s ease;


    }

    #orderbtn:hover {
        transform: translateY(-8.5px)
    }

    @media(max-width:480px) {

        header {
            display: flex;
            padding-left: 4%;
        }

        header a {
            text-decoration: none;
            font-size: 12px;
            margin-top: 50px;
            color: white;
            margin-right: 20px;
            font-family: acumin-pro, Acumin Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
            opacity: 0.6;
            transition: all 0.8s ease;
        }


        header img {
            display: none;
        }

        main h1 {
            margin-bottom: 10px;
            font-family: acumin-pro, Acumin Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 24px;
        }

        main p {
            font-size: 14px;
            opacity: 0.6;
            margin-bottom: 45px;
            font-family: acumin-pro, Acumin Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
        }

        #items {
            margin-top: 100px;
            color: white;
            display: flex;
            flex-direction: column;
            margin-left: 15px;
            width: fit-content;

        }

        #items img {
            width: 50px;
            height: 50px;
        }

        #items a {
            opacity: 0.5;
            transition: all 0.8s ease;
        }

        #items a:hover {
            opacity: 1;
            transform: scale(1.05);
        }


        #orderbtn {
            color: white;
            text-decoration: none;
            margin-left: 25%;
            display: inline-block;
            height: 50px;
            width: 180px;
            background-color: #ff4424;
            text-align: center;
            align-content: center;
            border-radius: 40px;
            font-family: acumin-pro, Acumin Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
            font-weight: 600;
            letter-spacing: 1.5px;
            transition: all 0.8s ease;


        }
    }